<div class="d-flex flex-column sidebar bg-dark text-light rounded">
  <h2 class="text-center p-4">Task Manager</h2>
  <ul class="sidebar-nav list-group flex-grow-1">
    <li class="list-group-item bg-dark"><a href="#" class="text-light">Home</a></li>
    <li class="list-group-item bg-dark"><a href="{% url 'tasks:task-list' %}" class="text-light">All tasks</a></li>
    <li class="list-group-item bg-dark rounded"><a href="#" class="text-light">My Tasks</a></li>
  </ul>

  <div class="mt-auto">
    {% if user.is_authenticated %}
      <ul class="sidebar-nav list-group">
        <li class="list-group-item bg-dark"><a href="#" class="text-light">{{ user.get_username }}</a></li>
        <li class="list-group-item bg-dark">
          <a href="#" class="text-danger">Logout</a>
        </li>
      </ul>
    {% else %}
      <ul class="sidebar-nav list-group">
        <li class="list-group-item bg-dark"><a href="#" class="text-light">Login</a></li>
        <li class="list-group-item bg-dark"><a href="#" class="text-light">Sign up</a></li>
      </ul>
    {% endif %}
  </div>
</div>
