{% extends "base.html" %}

{% block title %}
<title>{% if only_current_user %}Your{% else %}All{% endif %} Tasks</title>
{% endblock %}

{% block content %}
<div class="container col-sm-8 mb-3">
  <div class="card">
    <div class="card-header bg-dark text-light">
      <h2 class="text-center mb-0">{% if only_current_user %}Your{% else %}All{% endif %} Tasks</h2>
    </div>
    <div class="card-body">
      <div class="row">
        {% for status, color, title in statuses %}
          <div class="col-md-3 {% if not forloop.last %}border-right{% endif %}" style="border-color: #dee2e6;">
            <h4 class="text-center">
              <span class="badge text-light rounded-pill" style="background-color: {{ color }}">{{ title }}</span>
            </h4>
            {% for task in task_list %}
              {% if task.status == status %}
                <div class="card mb-3">
                  <div class="card-body">
                      <h5 class="card-title">{{ task.name }}</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Deadline:</strong> {{ task.deadline|date:"d.m.Y" }}</li>
                        <li class="list-group-item"><strong>Priority:</strong>
                          {% if task.priority == "low" %}
                            <span class="badge rounded-pill text-dark"
                                  style="background-color: #7bb9ff">{{ task.priority }}</span>
                          {% elif task.priority == "medium" %}
                            <span class="badge rounded-pill text-dark"
                                  style="background-color: #faba50">{{ task.priority }}</span>
                          {% else %}
                            <span class="badge rounded-pill text-dark"
                                  style="background-color: #fa6b6b">{{ task.priority }}</span>
                          {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Type:</strong>
                          <span class="badge rounded-pill text-light"
                                style="background-color: #717173">{{ task.task_type.name }}</span>
                        </li>
                        <li class="list-group-item">
                          <strong>Assignees:</strong>
                          {% for assignee in task.assignees.all %}
                            {{ assignee.get_full_name }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </li>
                      </ul>
                      <div class="card-footer text-muted text-center">
                        <a href="{% url 'tasks:task-detail' task.id %}" class="btn btn-primary rounded-pill">View</a>
                        <a href="{% url 'tasks:task-update' task.id %}" class="btn btn-secondary rounded-pill">Edit</a>
                        <a href="{% url 'tasks:task-delete' task.id %}" class="btn btn-danger rounded-pill">Delete</a>
                      </div>
                  </div>
                </div>
              {% endif %}
            {% empty %}
              <p class="text-center">No tasks in "{{ title }}" yet.</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% include "includes/pagination.html" %}
  </div>
</div>
{% endblock %}
