{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
<title>{% if user.is_authenticated %}Update Profile{% else %}Registration{% endif %}</title>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5 ">
      <div class="card">
        <div class="card-header text-center bg-dark text-light">
          <h2>{% if user.is_authenticated %}Update Profile{% else %}Worker Registration{% endif %}</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid text-center">
              <button type="submit" class="btn btn-outline-success pr-3 pl-3 rounded-pill">{% if user.is_authenticated %}Update{% else %}Register{% endif %}</button>
            </div>
          </form>
        </div>
        {% if not user.is_authenticated %}
        <div class="card-footer text-center">
          <p class="mb-0">Already have an account? <a href="{% url 'tasks:login' %}">Login here</a></p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
